[user]
	email = diego.silperes@gmail.com
 	name = Diego Silva

[init]
	defaultBranch = master 
[alias]	
	cm = commit -m
	ps = push
	d = diff
	b = branch
	cl = clone
	s = status
[credential]
    helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret

